.pokemon-button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: blue;
    color: yellow;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: opacity 0.2s; 
}
