body {
  text-align: center;
  width: auto;
  background-color: red;
}

.navbar-brand {
  color: yellow;
  font-weight: 600;
  font-size: 60px;
}

.btn {
  background-color: yellow;
  color: blue;
  border-radius: 7px;
  padding: 10px 20px;
  text-transform: uppercase;
  border: solid blue 2px;
  font-weight: 800;
}

.list-group-item {
  background-color: red;
}

#exampleModall {
  background-color: red;
}

.modal-dialog {
  background-color: blue;
}

.modal-content {
  background-color: yellow;
}

.modal-header {
  background-color: blue;
}

.modal-footer {
  background-color: blue;
}


